/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/

// Import a Google Font
// Open Sans - Regular (400)
// Open Sans - Bold (700)
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$link: #0060df;

// Import Material Design
// @import "../node_modules/material-design-icons/iconfont/";

// Bulma *ALL SASS imports
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/grid/_all.sass';
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/form/_all.sass';
@import 'node_modules/bulma/sass/layout/_all.sass';
@import 'node_modules/bulma/sass/elements/_all.sass';

// Components
@import 'node_modules/bulma/sass/components/navbar.sass';
@import 'node_modules/bulma/sass/components/dropdown.sass';
@import 'node_modules/bulma/sass/components/modal.sass';
@import 'node_modules/bulma/sass/components/level.sass';
@import 'node_modules/bulma/sass/components/card.sass';

// Material Design Icons
// Default Styles
.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
  font-size: 1.25em;
  line-height: initial;
  position: relative;
  top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
  margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
  margin-right: 0.5rem;
}

dropdown-item.mdi:not(:empty)::before {
  margin-left: -0.75rem;
}

.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
  margin-left: -0.5rem;
}

.modal-title.mdi::before {
  font-size: 1em;
  line-height: 0.5;
  position: relative;
  top: 0.26rem;
  margin-right: 0.5rem;
}

// Structure
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  background-color: #f6f8f7;
}
* {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

// Main Content
.main-container {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
}

.columns-container {
  margin-right: 0;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

.sticky {
  position: sticky;
  top: 30px;
  margin: 3%;
}

.menu {
  margin-top: 1em;
  min-height: 90vh;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

// Main Content
.main-content {
  height: 100%;
}

// Breadcrumbs
ul.breadcrumb {
  margin-bottom: 1em;
  list-style: none;
  background-color: transparent;
}

ul.breadcrumb li {
  display: inline;
  font-size: 0.9em;
  color: #424242;
  font-weight: 500;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\ ';
}

ul.breadcrumb li a {
  color: #0060df;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

// Sidebar
.sidebar {
  background-color: white;
  padding: 0;
  margin: 0;
}

// Modal Logos
.facebook {
  background-image: url('/assets/logos/facebook.svg');
  background-size: 30px 30px;
  background-position-x: 4rem;
  background-repeat: no-repeat;
  background-position-y: 0.3rem;
}

.google {
  background-image: url('/assets/logos/google.svg');
  background-size: 30px 30px;
  background-position-x: 4.6rem;
  background-repeat: no-repeat;
  background-position-y: 0.2rem;
}

.twitter {
  background-image: url('/assets/logos/twitter.svg');
  background-size: 30px 30px;
  background-position-x: 5rem;
  background-repeat: no-repeat;
  background-position-y: 0.2rem;
}

.shibboleth {
  background-image: url('/assets/logos/shibboleth.svg');
  background-size: 30px 30px;
  background-position-x: 4rem;
  background-repeat: no-repeat;
  background-position-y: 0.2rem;
}

.cas {
  background-image: url('/assets/logos/cas.png');
  background-size: 40px 20px;
  background-position-x: 4.7rem;
  background-repeat: no-repeat;
  background-position-y: 0.5rem;
}

.ldap {
  background-image: url('/assets/logos/ldap.png');
  background-size: 30px 30px;
  background-position-x: 5rem;
  background-repeat: no-repeat;
  background-position-y: 0.2rem;
}
